<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show <%=datas.title%></h1>
    아이디 : <input type="text" value="<%=datas.id %>" readonly><br><br>
    작성자 : <input type="text" value="<%=datas.writer %>"><br><br>
    제목 : <input type="text" value="<%=datas.title%>"><br><br>
    내용: <textarea cols = 30 rosw=10><%=datas.content%></textarea><br><br>
    등록일 : <input type="text" value="<%=datas.reg_date%>"><br><br>
    <a href="/check/<%=datas.id%>">Edit</a><br><br>
    <a href="/delete/<%=datas.id%>">Delete</a>
</body>
</html>